{% extends 'base.html.twig' %}

{% block title %}The CarStore - Nos modèles{% endblock %}

{% block front_car %}active{% endblock %}

{% block body %}
<main id="car-browse">

    <h2>Tous Nos <em>Modèles</em></h2>

    <section class="container-car-browse">
        {% for index, car in cars %}
        <div class="car-card"> 
            <h3>{{ car.brand.name }} - {{ car.name }}</h3>
            <img src="{{ car.poster }}">
            <a href="{{ path('front_car_show', {id: car.id}) }}">Voir la voiture</a>
        </div>
        {% endfor %}
    </section>

</main>

{% endblock %}