{% extends "base-back.html.twig" %}
{% block body %}
<div class="container bg-dark p-4">
    <div class="row mb-2 fs-5">
        <div class="col">
            <h1>Ajouter une Marque</h1>
            {{ form_start(brandForm, {'attr' : {'novalidate': 'novalidate'} }) }}
            {{ form_row(brandForm.name) }}
            {{ form_row(brandForm.poster) }}
            <button class="btn btn-outline-success d-grid gap-2 col-6 mx-auto fs-5">Ajouter la Marque</button>
            {{ form_end(brandForm) }}
        </div>
    </div>
</div>
{% endblock %}